body {
    font-family: Courier New;
    margin: 0;
    padding: 0;
    font-size: 15.5px;
}

header {
    background-color: #f0f0f0; /* lighter color */
    color: #333; /* darker text color for contrast */
    padding: 5px;
    text-align: center;
}

header h1 {
    margin: 5px;
}

header p {
    margin-top: 5px;
}

.about-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.sections-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px; /* Spacing between sections */
    overflow-wrap: anywhere;
}

.profile-photo {
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 0px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

section p {
    line-height: 1.5;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #f0f0f0; /* lighter color */
    color: #333; /* darker text color for contrast */
    text-align: center;
    padding: 10px 0;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 700px) {
  .about-container {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center items horizontally */
  }

